<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @email %>, on vous invite à participer à une vidéo GeMotion</h1>
    <p>Cliquer sur le lien suivant pour particper à la video</p>
    <%= link_to "Participer", @url %>

    <p>L'équipe GeMotion</p>
  </body>
</html>