<%if @existing_collaboration.present?%>
  <h1 class="video-h1 mb-150 mt-65"><%= t('videos.join.invitation_accepted') %></h1>
<%else%>
  <h1 class="video-h1 mb-150 mt-65"><%= t('videos.join.login_required') %></h1>
<%end%>