
  <div class="video-steps">
    <%= render "videos/shared/back_button" %>
    <%
=begin%>
 <%= link_to "Enregistrer et payer", skip_edit_video_path, class: "cta", data: {turbo: false} %>
<%
=end%>
  </div>