<div>
  <h1 class="video-h1">Ajoutez 3 photos du destinataire pour l'introduction de votre vidéo</h1>

  <p class="video-desc">
    Expliquer cette étape
  </p>

  <div class="">

    <%= form_with url: photo_intro_post_path, method: :post, html: { class: "video-form" } do |f| %>
      <div class="frame">
        Lorem ipsum
      </div>
      <div class="video-steps">
        <%= render "videos/shared/back_button" %>
        <%= f.submit "Étape suivante", class:"cta" %>
      </div>
    <% end %>
  </div>
</div>
