<header>
    <p>GE.Motion</p>

    <%= link_to "Accueil", root_path %>
    <%= link_to "Comment ca marche", about_path %>
    <%= link_to "Tarification", price_path %>

    <%= link_to "Démarrer", root_path %>
</header>
