<section id="questions" class="py-[104px]">
    <h2 class="mb-[16px]">Encore des questions ?</h2>
    <p class="mb-[24px]">Contactez-nous pour obtenir de l'aide supplémentaire.</p>
    <a class="cta">Contactez-nous</a>
</section>
