<section id="questions">
    <h2>Encore des questions ?</h2>
    <p>Contactez-nous pour obtenir de l'aide supplémentaire.</p>
    <a class="cta">Contactez-nous</a>
</section>

<style>

#questions {
    padding: 104px 0;

}

#questions h2 {
    margin-bottom: 16px;
}

#questions p {
    margin-bottom: 24px;
}

#questions .cta {
    display: inline-block; /* Ensure proper spacing around inline elements */
}
</style>
