<section id="questions" class="py-[104px] bg-[#F2FCFF]">
    <h2 class="mb-[16px]">Encore des questions ?</h2>
    <p class="mb-[24px]">Contactez-nous pour obtenir de l'aide supplémentaire.</p>
    <%= link_to "Contactez-nous", new_contact_path, class: "cta" %>
</section>
