<section id="questions" class="py-[104px] bg-[#F2FCFF]">
    <h2 class="mb-[16px]">Encore des questions ?</h2>
    <p class="mb-[24px] p-text-18">Contactez-nous pour obtenir de l'aide supplémentaire.</p>
    <%= link_to "Contactez-nous", new_contact_path, class: "black-link" %>
</section>

<style>

#questions {
  background-image: url('<%= asset_path("gemotion-questions-bg.png") %>');
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>
