<section id="testimonials">
  <h2>TESTIMONIALS</h2>
  <div class="max-w-[1062px] mx-auto">
    <div class="wrapper">
      <div class="slide">
        <%= image_tag 'gemotion-home-satisfied-img.png' %>
        <p>Lorem ipsum dolor sit amet consectetur. Purus placerat viverra donec tristique. Ligula blandit nibh sed maecenas nisi. A proin integer enim tortor. Pulvinar scelerisque aliquet a rhoncus id malesuada nisl. Sit lorem donec fames elementum nunc vulputate condimentum nibh. Quis imperdiet vulputate quisque vulputate lorem facilisi adipiscing at.</p>

      </div>
      <div class="slide">Votre Contenu</div>
      <div class="slide">Votre Contenu</div>
    </div>
    <!-- Add Pagination -->
    <div class="pagination"></div>
    <!-- Add Navigation -->
    <div class="button-next"></div>
    <div class="button-prev"></div>
  </div>
</section>
