<section id="testimonials">
  <h2>TESTIMONIALS</h2>
  <div class="max-w-[1062px] mx-auto">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Votre Contenu</div>
        <div class="swiper-slide">Votre Contenu</div>
        <div class="swiper-slide">Votre Contenu</div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
