<section id="testimonials">
  <h2>TESTIMONIALS</h2>
  <div class="max-w-[1062px] mx-auto flex gap-[80px]">
      <%= image_tag 'gemotion-testimonials.png', class:"w-[405px]" %>
      <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p class="testimonial-content">
                  E Motions-video a fait un film pour les 18 ans de notre fille,
                  une pure merveille! Ses amis l'ont découverte sous un autre angle,
                  grâce à un film super entraînant et pleins de clins d'œils très drôles.
                  C'est un magnifique cadeau qui a animé la soirée et restera pour longtemps un souvenir à regarder encore et encore!
                  Je ne peux que recommander ses services!!!
                </p>
                <span class="testimonial-name">Nathalie Duleux</span>
            </div>
            <div class="swiper-slide">
                <p class="testimonial-content">
                  E Motions-video nous a fait un film pour notre départ de Dubaï;
                  un film chargé en émotions, une véritable page de vie de notre famille!
                  On y voit un concentré des meilleurs moments de ces 6 années,
                  et surtout une très belle surprise de nos amis à la fin du film,
                  orchestrée par E Motions-video avec beaucoup d'humour.
                  Un grand moment de pure émotion diffusé pendant notre soirée de départ et à regarder sans modération une fois rentrés en France.
                </p>
                <span class="testimonial-name">Florent D.</span>
            </div>
            <div class="swiper-slide">
                <p class="testimonial-content">
                  L'un des plus beaux cadeaux jamais reçu!
                  Quelle émotion de voir se mettre en mouvement ces photos qui me rappellent tellement de beaux souvenirs,
                  proches ou lointain, avec les gens que j'aime! En dernière partie de ce film
                  (reçu il y a quelques années mais que je continue de visionner régulièrement avec ma famille!),
                  tous les proches mis à contribution pour m'envoyer un message personnalisé… les distances sont effacées,
                  je me sens tellement entourée!
                  Merci à E Motions-video qui a été capable avec une magnifique justesse de faire ressortir de si belles émotions.
                </p>
                <span class="testimonial-name">Florent D.</span>
            </div>
            <div class="swiper-slide">
                <p class="testimonial-content">
                  Souvent difficile d'avoir des idées de cadeaux…
                  ce film a été comme une évidence!
                  E Motions-video a tout de suite su cerner notre amie et faire un film à son image!
                  Emotion garantie, pour la personne qui reçoit son cadeau mais aussi pour l'assemblée! la musique,
                  le fil conducteur, le mix entre photos et vidéos,, bref cadeau parfait!
                </p>
                <span>Violaine R.</span>
            </div>
            <div class="swiper-slide">
                <p class="testimonial-content">
                  Très belle prestation de montage video,
                  beaucoup de talent et de créativité;
                  le film que nous avions commandé pour l’anniversaire d'une amie a été totalement personnalisé autour des photos et musiques transmises (sans avoir besoin de les trier!),
                  avec une organisation originale du film par thèmes.
                  Notre amie a adoré le film et a été extrêmement émue !
                  Une super idée de cadeau pour des occasions variées (Valerie A)
                </p>
                <span class="testimonial-name">Valérie A.</span>
            </div>
          </div>
          <div class="swiper-pagination"></div>
      </div>
    <!--<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>-->
    <!--<div class="swiper-scrollbar"></div>-->
  </div>
</section>
