<div id="how_step_2" class="step">
    <%= image_tag 'Group14.png', class: 'right-arrow' %>
    <div class="flex w-[1062px] p-[40px] items-center gap-[61px] flex-shrink-0 rounded-[20px] border border-custom-border bg-custom-white shadow-custom">
        <div class="flex flex-col items-start gap-[16px]">
            <span class="inline-flex px-[48px] py-[8px] justify-center items-center gap-[10px] rounded-[10px] border border-custom-border bg-[#F2FCFF] shadow-custom text-center text-black font-montserrat text-[20px] font-bold leading-[24px] mb-[32px]">
                Step 2
            </span>
            <h4 class="text-black font-montserrat text-[20px] font-bold leading-[24px] mb-[24px]">Choisissez l'événement et la date de sortie de la vidéo</h4>
            <p class="text-black font-red-hat-display text-[18px] font-normal leading-[30px]">
                Veuillez également partager avec nous des informations sur le destinataire du film en remplissant un court formulaire. Veuillez noter que la création de la vidéo prendra au moins 7 jours. Planifiez vos films à l'avance!
            </p>
        </div>
        <%= image_tag 'gemotion-about-step1.png', class: "max-w-[354px]" %>

    </div>
</div>
