<div id="how_step_1" class="step">
    <div class="flex w-[1062px] p-[40px] items-center gap-[61px] flex-shrink-0 rounded-[20px] border border-custom-border bg-custom-white shadow-custom">
        <%= image_tag 'gemotion-about-step1.png', class: "max-w-[354px]" %>
        <div class="flex flex-col items-start gap-[16px]">
            <span class="inline-flex px-[48px] py-[8px] justify-center items-center gap-[10px] rounded-[10px] border border-custom-border bg-[#F2FCFF] shadow-custom text-center text-black font-montserrat text-[20px] font-bold leading-[24px] mb-[32px]">
                Step 1
            </span>
            <h4 class="text-black font-montserrat text-[20px] font-bold leading-[24px] mb-[24px]">Connectez-vous ou Inscrivez-vous</h4>
            <p class="text-black font-red-hat-display text-[18px] font-normal leading-[30px]">
                Veuillez créer un compte ou vous connecter si vous en avez déjà un. Cela est nécessaire pour que vous puissiez sauvegarder la progression de votre film, même si vous ne l'avez pas encore terminé.
            </p>
        </div>
    </div>
</div>
