<div id="pricing">
    <section class="hero pt-[234px] pb-[38px]">
        <h1>Tarification</h1>
    </section>

    <%= render "shared/pricing" %>

    <%= render "shared/faq" %>

    <%= render "shared/questions" %>

</div>
