@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css";

@layer base {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
}

.hello-block{
  width: 100%;
  height: 175px;
  background-color: rgba(217, 217, 217, 1);
}

.choose-prof-block{
  width: 800px;
  height: 100px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 20px;
  padding-left: 28px;
  padding-right: 28px;
}

.choose-prof-block-child{
  width: 181px;
  padding: 15px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.choose-prof-block-child-highlight{
  background-color: rgba(107, 107, 107, 1);
  color: rgba(255, 255, 255, 1)!important;
}

.mt-0{
  margin-top: 0!important;
}

.mt-65{
  margin-top: 65px!important;
}

.mb-45{
  margin-bottom: 45px!important;
}

.mb-150{
  margin-bottom: 150px!important;
}

.placeholder-text-12::placeholder {
  font-size: 12px!important;
}
.placeholder-color-black::placeholder{
  color: black!important;
}

.background-color-transparent{
  background-color: transparent!important;
}
.texte-centre-rouge {
  @apply text-center text-red-500 text-[50px];
}
.text-decoration-underline{
  text-decoration: underline!important;
}
.hr-divider-gray{
  height: 1px;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  border: 1px;
}

section {
  padding: 56px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 81px; /* 115.714% */
  letter-spacing: -1px;
  text-transform: uppercase;
}

h2 {
  color: #000;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 56px;
  word-wrap: break-word;
  text-align: center;
}

.cta {
  cursor: pointer;
  width: auto;
  height: 100%;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #201f1f;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: white;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 22.86px;
  word-wrap: break-word;
}
.cta-transparent {
  cursor: pointer;
  width: auto;
  height: 100%;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: transparent;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: black;
  border: 1px solid black;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 22.86px;
  word-wrap: break-word;
}
/* HEADER */

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
}

/* HERO */

#hero {
  background-image: url('<%= asset_path("gemotion-hero-bg.svg") %>');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1037px;
  padding-bottom: calc(18px + 183px);
}

.hero-p {
  display: inline-flex;
  padding: var(--is_16px, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Black, #201f1f);
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  border-radius: 20px;
  background: var(--White, #fff);
  box-shadow: 4px 4px 20px 5px rgba(13, 103, 131, 0.1);
}

/* how */

.how-li {
  display: flex;
  width: 383px;
  height: 124px;
  padding: 38px 36.984px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 15px;
  border: 1px solid #c9e1ff;
  background: #fff;
  box-shadow: 4px 4px 20px 5px rgba(13, 103, 131, 0.1);
}

/* ABOUT */

.custom-div {
  display: flex;
  width: 1062px;
  padding: var(--is_40px, 40px);
  align-items: center;
  gap: 61px;
  border-radius: 20px;
  border: 1px solid var(--linear-2-transparent-20, #c9e1ff);
  background: var(--White, #fff);
  box-shadow: 4px 4px 20px 5px rgba(13, 103, 131, 0.1);
}

.step {
  padding: 20px 0;
}

/* DEDICATION */

#dedication {
  background-image: url('<%= asset_path("gemotion-dedication-bg.svg") %>');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1037px;
  padding-bottom: 164px;
}

/* PRICING */

.pricing-card {
  /* width: 30%;
  background-color: #ffffff;

  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */

  width: 100%;
  height: 100%;
  padding: 48px;
  background: white;
  border-radius: 20px;
  border: 1px #c9e1ff solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.pricing-card img {
  margin-bottom: 16px;
  width: 134px;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.pricing-card .text-xl {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.pricing-card .price {
  color: black;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 37px;
  word-wrap: break-word;
  margin-bottom: 24px;
}

.pricing-card .duration .label {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  margin-bottom: 12px;
}

.pricing-card .duration .value {
  color: var(--Black, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/* TESTIMONIALS */

#testimonials {
  border-radius: 50px;
  background: var(
    --Light-blue-linear,
    linear-gradient(180deg, #f1fbff 38.29%, rgba(241, 251, 255, 0) 100%)
  );
}

.testimonial-content {
  @apply text-black font-red-hat-display text-base font-normal leading-[25px];
}

.testimonial-name {
  @apply font-montserrat font-semibold leading-6 absolute bottom-[120px] right-0;
}

#testimonials .swiper-slide {
  padding-top: 120px;
}

#testimonials .swiper {
  position: relative;
}

#testimonials .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: max-content;
  padding-bottom: 120px;
}

/* VIDEOS */

/* .video-h1 {
  @apply text-center font-montserrat text-[40px] font-bold leading-[56px] tracking-[-1px] uppercase bg-clip-text text-transparent bg-linear-dark-blue;
} */

.h1-video {
  @apply text-center font-montserrat text-[40px] font-bold leading-[56px] tracking-[-1px] uppercase bg-clip-text text-transparent bg-linear-dark-blue;
}

.video-h1 {
  text-align: center;

  /* H2 */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
  letter-spacing: -1px;
  text-transform: uppercase;
  padding: 56px 0 86px;

  background: linear-gradient(248deg, #0d6783 0%, #163f50 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 1062px;
  margin: auto;
}

/* .video-desc {
  @apply flex w-[1062px] p-[49px] px-[197px] justify-center items-center gap-[10px]
    rounded-[10px] border border-[color-C9E1FF] bg-[color-FFF]
    shadow-video-desc text-[color-201F1F] text-center
    font-redhat text-base font-normal leading-[25px];
} */

.video-h4 {
  color: #201f1f;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  max-width: 702px;
  margin: auto;
}

.video-desc {
  display: flex;
  width: 1062px;
  padding: 49px 197px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--linear-2-transparent-20, #c9e1ff);
  background: var(--White, #fff);

  /* Style */
  box-shadow: 4px 4px 20px 5px rgba(13, 103, 131, 0.1);

  color: var(--Black, #201f1f);
  text-align: center;

  /* Body 16 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */

  margin: 0 auto 72px;
}

.video-h3 {
  @apply text-black text-center font-montserrat text-4xl font-bold leading-[37px];
}

.video-textarea {
  @apply flex w-[677px] h-[99px] p-[15px] px-[27px] items-start gap-[10px];
}

.frame {
  display: flex;
  width: 1006px;
  padding: 40px 116px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 20px;
  border: 1px solid #c9e1ff;
  background: #fff;

  /* Style */
  box-shadow: 4px 4px 20px 5px rgba(13, 103, 131, 0.1);
  margin: auto;
}

.frame-no-border {
  display: flex;
  width: 1164px;
  /* padding: 40px 116px; */
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 20px;
  background: #fff;
  margin: auto;
}

.video-chapters,
.video-musics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 21px;
  grid-row-gap: 24px;
  width: 100%;
}

.video-chapters .video-chapter:first-of-type {
  grid-area: 1 / 1 / 2 / 3;
}

.video-chapter-thumb {
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.video-chapters div:not(:first-of-type) .video-chapter-thumb {
  height: 194px;
  width: 100%;
}

.video-chapters div:first-of-type .video-chapter-thumb {
  height: 199px;
  width: 100%;
}

.video-chapter-thumb-wrapper {
  display: block;
  position: relative;
}

.video-chapter-thumb-wrapper span {
  display: block;
  position: absolute;
  left: 16px;
  bottom: 16px;
  color: #fff;

  /* Body 16 Bold */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
}

.video-chapter input[type="text"] {
  padding: 15px 27px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #c9e1ff;
  background: #fff;
  color: rgba(32, 31, 31, 0.5);

  /* Body 16 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */

  width: 100%;
  margin-top: 16px;
}

.video-chapter-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}

.video-chapter input[type="checkbox"] {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
}

.video-chapter-thumb-wrapper div {
  display: block;
  position: relative;
}

.video-form {
  margin: auto;
  width: 100%;
  max-width: 1062px;
}

.video-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px auto 0;
  max-width: 1062px;
}

.video-music .music-name {
}

.video-music .music-audio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16.5px;
}

.dedications {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 32px;
}

.dedication {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
}

.dedication video {
  width: 100% !important;
  height: 199px !important;
  object-fit: cover;
  object-position: center;
}

.dedication-thumb-wrapper {
  display: block;
  position: relative;
}

.dedication-name {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 999;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
}

.dedication-desc {
  margin-top: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.video-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.video-email {
}

.share-email {
  border-radius: 8px;
  border: 1px solid rgba(32, 31, 31, 0.5);
  background: #fff;

  color: #201f1f;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */

  display: flex;
  width: 677px;
  height: 60px;
  padding: 15px 27px;
  align-items: flex-start;
  gap: 10px;
}

.share-wrapper {
  display: block;
  position: relative;
}

.share-submit {
  position: absolute;
  right: 8px;
  top: 6px;
  display: flex;
  width: 144px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 999;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #201f1f;
  background: #201f1f;

  color: #fff;

  /* Buttons Lowcase */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%; /* 22.86px */
  letter-spacing: -0.198px;
}

.share-clipboard {
  display: flex;
  width: 677px;
  height: 60px;
  padding: 15px 27px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(32, 31, 31, 0.5);
  background: #fff;
  position: relative;
}

.share-clipboard-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.share-clipboard-btn {
  position: absolute;
  right: 8px;
  top: 6px;
  display: flex;
  width: 144px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 999;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #201f1f;
  background: #201f1f;

  color: #fff;

  /* Buttons Lowcase */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%; /* 22.86px */
  letter-spacing: -0.198px;
}

.video-memories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.video-memory {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  border-radius: 20px;
  border: 1px solid #c9e1ff;
  background: #fff;
}

.video-memory-thumb-wrapper {
  display: block;
  position: relative;
  margin-bottom: 16px;
}

.video-memory-thumb-wrapper img {
  width: 511px;
  height: 189px;
  object-fit: cover;
  object-position: center;
  border-radius: 18.201px;
  border: 1.213px solid #000;
}

.video-memory-thumb-wrapper span {
  color: #fff;
  font-size: 19.415px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.402px; /* 187.5% */
  letter-spacing: -0.524px;
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 999;
}

.video-memory-alert {
  color: #000;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.video-memory-file {
  padding: 16px;
  color: #fff;
  border-radius: 15px;
  background: #201f1f;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%; /* 22.86px */
  letter-spacing: -0.198px;
  cursor: pointer;
  margin: 16px 0;
}

.video-memory-upload {
  padding: 16px;
  color: #fff;
  border-radius: 15px;
  background: #201f1f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%; /* 22.86px */
  letter-spacing: -0.198px;
  cursor: pointer;
  margin: 16px 0;
}

.dedication-content-medias,
.dedication-content-theme,
.dedication-content-form {
  width: 100%;
}

.dedication-content-medias span,
.dedication-content-theme span {
  color: #201f1f;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  display: flex;
  justify-content: flex-start;
}
